.csv-table {

  &__table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    thead tr {
      border-bottom: 2px solid black;
    }
    td, th {
      padding: 0.65em;
    }
  }

  &__body {
    overflow-y: scroll;
  }

  &__table &__header {
    padding: 0.65em;
  }

  &__table &__search {
    align-self: flex-end;
  }

  &__no-results {
    display:none;
  }

  &--sticky {
    table {
      position: relative;
      th {
        position: sticky;
        top: 0;
      }
    }
  }
}
